{% extends "music_app/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'music_app/css/home.css' %}">

  <!-- FIRST SLIDE -->
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#"><img src="https://i.ytimg.com/vi/SVLXGMfgU5s/maxresdefault.jpg" class="first_img" alt="no img"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="https://wallpapercave.com/wp/SGnMmeo.jpg" class="first_img" alt="no img"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="https://aispantherpaper.files.wordpress.com/2017/01/0a147d1cb4750ab40e59e2c5689dd4f91.jpeg?w=1200" class="first_img" alt="no img"></a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- SECOND SLIDE -->

   <div class="same">
      <h3><b>Latest hindi</b></h3>
      <div class="scrollmenu">
        {% for s in hindi_song %}
          <a href="{% url 'music_app:latest_hindi' s.id %}">
            <div class="img_song">
              <img src="{{ s.photo }}" alt="">
              <span class="text">{{ s.song_title }}</span>
            </div>
          </a>
        {% endfor %}
       </div>
    </div>

    <!-- Third  -->

    <div class="same">
       <h3><b>Latest english</b></h3>
       <div class="scrollmenu">
         {% for s in eng_song %}
           <a href="{% url 'music_app:eng_song' s.id %}">
             <div class="img_song">
               <img src="{{ s.photo }}" alt="">
               <span class="text">{{ s.song_title }}</span>
             </div>
           </a>
         {% endfor %}
        </div>
     </div>

     <!-- Fourth -->

     <div class="same">
        <h3><b>Punjab</b></h3>
        <div class="scrollmenu">
          {% for s in punjabi_song %}
            <a href="{% url 'music_app:punjabi_song' s.id %}">
              <div class="img_song">
                <img src="{{ s.photo }}" alt="">
                <span class="text">{{ s.song_title }}</span>
              </div>
            </a>
          {% endfor %}
         </div>
      </div>

      <!-- Fifth  -->

      <div class="same">
         <h3><b>International</b></h3>
         <div class="scrollmenu">
           {% for s in inter_song %}
             <a href="{% url 'music_app:inter_song' s.id %}">
               <div class="img_song">
                 <img src="{{ s.photo }}" alt="">
                 <span class="text">{{ s.song_title }}</span>
               </div>
             </a>
           {% endfor %}
          </div>
       </div>

       <!-- Sixth -->

       <div class="same">
          <h3><b>Romantic</b></h3>
          <div class="scrollmenu">
            {% for s in romantic_song %}
              <a href="{% url 'music_app:romantic_song' s.id %}">
                <div class="img_song">
                  <img src="{{ s.photo }}" alt="">
                  <span class="text">{{ s.song_title }}</span>
                </div>
              </a>
            {% endfor %}
           </div>
        </div>

        <!-- Seventh -->

        <div class="same">
           <h3><b>Sad</b></h3>
           <div class="scrollmenu">
             {% for s in sad_song %}
               <a href="{% url 'music_app:sad_song' s.id %}">
                 <div class="img_song">
                   <img src="{{ s.photo }}" alt="">
                   <span class="text">{{ s.song_title }}</span>
                 </div>
               </a>
             {% endfor %}
            </div>
         </div>

         <!-- Eighth -->

         <div class="same">
            <h3><b>Happy</b></h3>
            <div class="scrollmenu">
              {% for s in happy_song %}
                <a href="{% url 'music_app:happy_song' s.id %}">
                  <div class="img_song">
                    <img src="{{ s.photo }}" alt="">
                    <span class="text">{{ s.song_title }}</span>
                  </div>
                </a>
              {% endfor %}
             </div>
          </div>

{% endblock %}
