<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
  </head>
  <style>
    body{
      background-image: url("https://cdn.hipwallpaper.com/i/19/88/YtwHJA.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: 'Monda', sans-serif;
      color:white;
      font-size:20px;
    }
    h1{
      margin-bottom: 10px;
    }
    .container{
      margin-top:85px;
    }
  </style>
  <body>

    {% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}

    <form action="{% url 'music_app:login' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <center>
          <h1>Login Please!</h1><br><br>
          <label for=""><b>Username : </b></label>
          <input type="username" name="username" style="margin-left:5px;border-radius:10px;" placeholder="Enter Username"><br><br>
          <label for=""><b>Password : </b></label>
          <input type="password" name="password" style="margin-left:5px;border-radius:10px;" placeholder="Enter Password"><br><br>
          <input type="submit" style="padding:7px;font-size:20px;border-radius:10px;" class="btn btn-warning" name="" value="Login">
        </center>
      </div>
    </form>
  </body>
</html>
