<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
  </head>
  <style>
    body{
      background-image: url("https://cdn.hipwallpaper.com/i/19/88/YtwHJA.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: 'Monda', sans-serif;
      color:white;
      font-size:16px;
    }
    h1{
      margin-bottom: 10px;
    }
    .container{
      margin-top:85px;
    }
  </style>
  <body>

    <form method="post">
      {% csrf_token %}
      <div class="container">
        {% csrf_token %}
        <h1>Register here</h1><br><br>
        {{ form.as_p }}
        <input type="submit" name="" class="btn btn-warning" value="Submit">
      </div>
    </form>
  </body>
</html>
